<section id="prodetail">
<div id="bimg">
    
    <ul id="bimgin">
        <% for(i in product.bimg){%>
        <li>
            <img src="css/bimg/<%= product.bimg[i] %>" alt="">
        </li>
        <% }%>
    </ul>
    <script type="text/javascript">
     var p = document.createElement("p"),
        len = $("#bimgin li").length,
        btn="";
        p.id="whatid";
        for(var i=0;i<len;i++){
            btn += "<span class='pro_btn'></span>"
        }
        p.innerHTML=btn
        document.getElementById("bimg").appendChild(p)

    var indexs= 2;
    $("#whatid").children().eq(0).css("background","#FE7B01")
        var change = function(){
            $("#bimgin img").animate({"opacity":"0"},1000)
            window.setTimeout(function(){$("#bimgin").append($("#bimgin li:first"))},1000)
            $("#whatid").children().eq(indexs-1).css("background","#FE7B01").siblings().css("background","#aaa")
            $("#bimgin img").animate({"opacity":"1"},1000)
            if(indexs==3){
                indexs = 1
            }else{
            indexs += 1
            }
            // $("#bimgin li").eq(1).animate({"opcity":"1"},100)
        }
        window.setInterval(change,3000)

var x,changed;
            document.getElementById("bimg").ontouchstart=function(e){
                x = e.touches[0].clientX
                changed=false
                // alert(x)
            }
            document.getElementById("bimg").ontouchmove=function(e){
                xnew = e.touches[0].clientX
                // alert(x)
                // alert(xnew)
                if(changed==true){
                    return false
                }else{
                    if(x-xnew>100){
                        // alert(x-xnew)
                        chang()
                        changed=true
                        }
                }
            }

    </script>

</div>
<h1><%= product.h1 %></h1>
<hr>
<h3>Overview</h3>
<div class="detail"><%= product.overview %></div>
<h3 class="feature">Feature <img src="css/images/ten.png" style="float:right;margin-right:1em" alt=""></h3>
<div class="detail" id="feature_detail">
    <ul>
    <% for(i in product.feature){%>
    <li><%= product.feature[i] %></li> 
    <%}%>
    </ul>
</div>
<h3 class="technical">Tecnical Data <img src="css/images/ten.png" style="float:right;margin-right:1em" alt=""></h3>
<div class="detail" id="technical_detail"><%= product.technical %></div>
<h3 class="application">Application</h3>
<div class="detail"><%= product.application %></div>
<button class="inquiry_button" onclick="window.location.href='#inquiry'">Free Enquiry</button>
<hr>
<h3>Related Products <span><img src="css/images/leftgray.png" alt="" id="prev"> <img src="css/images/rightgray.png" id="next" alt=""></span></h3>
<div class="related">
    <div class="relain">
    <ul>
    <% for( i in product.related){ %>
    <li>
        <img src="css/images/<%= product.related[i][0]%>" alt=""><br>
      <a href="<%= product.related[i][1]%>"><%= i %></a>
    </li>
    <% } %>
    </ul>
    </div>
</div>
</section>
<p class="about_foot"><a href="#products">Products</a> <a href="#solutions">Products Line</a> <a href="#about">About Us</a> <a href="#contact">Contact Us</a></p>
<div id="copy">    <p><a href="" class="blue">Computer version </a>| <a href="" class="blue">Stantard Edition</a></p>    <p class="gray">200-2013 SBMCHINA.com Copyrights</p></div>
<script type="text/javascript">
    var num = Math.floor($("body").width()/150)
    var lgth = $(".related li").length
    var now = 1
$(".related").width(num*150)
$("#next").click(function(){
    if(now+num>lgth){
        $(".related ul").stop().animate({"marginLeft":"0"})
        now = 1
    }else
    {
        $(".related ul").stop().animate({"marginLeft":"-="+num*150+"px"})
        now = now + num
    }
})
setInterval(function(){$("#next").stop().trigger("click")},5000)

    $(".feature").click(function(){
        if($(".feature").next().css("display")!="block"){
        $(this).find("img").attr("src","css/images/one.png")
        $(".feature").next().css("display","block")
    }else{
       $(this).find("img").attr("src","css/images/ten.png")
        $(".feature").next().css("display","none") 
    }
    })
    $(".technical").click(function(){
        if($(".technical").next().css("display")!="block"){
        $(this).find("img").attr("src","css/images/one.png")
        $(".technical").next().css("display","block")
    }else{
       $(this).find("img").attr("src","css/images/ten.png")
        $(".technical").next().css("display","none") 
    }
    })
</script>