<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Widget--{$INI['system']['sitename']}</title>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<style>
*{margin:0;padding:0;}
a{text-decoration:none;}
a:hover{text-decoration:underline;color:#FF0000}
.wg-ul{width:150px;height:400px;list-style:none;}
.wg-term{padding: 8px 0 0 0px;border-bottom: 1px dotted #BBBBBB;}
.wg-img img{width:150px;height:95px}
.wg-title{font-size:14px;line-height: 18px;overflow: hidden;}
.current-price{line-height: 30px;padding-left: 2px; color: #DF8700;}
.org-price{margin-left: 3px;}
em.wg-org{font-style:normal;text-decoration:line-through}
</style>
</head>
<body>
<div class="widget">
<ul class="wg-ul">
<!--{loop $teams $index $team}-->
<li>
	<div class="wg-term">
		<div class="wg-img"><a href="/team.php?id={$team['id']}" target="_blank"><img src="${team_image($team['image'])}" width="200" border="0" alt="{$team['title']}"/></a></div>
		<h2 class="wg-title" ><a href="/team.php?id={$team['id']}" target="_blank">${mb_strimwidth($team['title'],0, 33,'...')}</a></h2>
		<p><span class="current-price">{$currency}${moneyit($team['team_price'])}</span><span class="org-price"> 原价：<em class="wg-org">{$currency}${moneyit($team['market_price'])}</em></span></p>
	</div>
</li>
<!--{/loop}-->

 	
</ul>
</div>
</body>
</html>