<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="partner">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_system('sms')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>短信配置</h2></div>
                <div class="sect">
                    <form method="post">
						<div class="wholetip clear"><h3>1、基本信息</h3></div>
                        <div class="field">
                            <label>短信用户</label>
                            <input type="text" size="30" name="sms[user]" class="f-input" value="{$INI['sms']['user']}" style="width:200px;" /><span class="inputtip">最土网增值平台(<a href="http://notice.zuitu.com/" target="_blank">http://notice.zuitu.com/</a>)用户名&nbsp;[<font color="red">在线软件升级必填项</font>]</span>
                        </div>
                        <div class="field">
                            <label>短信密码</label>
                            <input type="password" size="30" name="sms[pass]" class="f-input" value="{$INI['sms']['pass']}" style="width:200px;" /><span class="inputtip">最土网增值平台(<a href="http://notice.zuitu.com/" target="_blank">http://notice.zuitu.com/</a>)的密码</span>
                        </div>
                        <div class="field">
                            <label>点发频率</label>
                            <input type="text" size="30" name="sms[interval]" class="number" value="${abs(intval($INI['sms']['interval']))}"/>
                            <span class="inputtip">用户联系点击短信发送的，时间间隔限制，管理员点发不受此限制，建议：60-300s</span>
                        </div>
                        <div class="field">
                            <label>发送次数</label>
                            <input type="text" size="30" name="sms[numbers]" class="number" value="${abs(intval($INI['sms']['numbers']))}"/>
                            <span class="inputtip">用户购买订单后每张{$INI['system']['couponname']}最多发送次数，建议：5次</span>
                        </div>
                        <div class="act">
                            <input type="submit" value="保存" name="commit" class="formbutton"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
