<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_category($zone)}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>{$cates[$zone]}</h2>
					<ul class="filter">
						<li><a href="/ajax/manage.php?action=categoryedit&zone={$zone}" class="ajaxlink">新建{$cates[$zone]}</a></li>
					</ul>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="50">ID</th><th width="250">中文名称</th><th width="250">英文名称</th><th width="60">首字母</th><th width="150"><!--{if $zone=='group'}-->所属分类<!--{else}-->自定义分组<!--{/if}--></th><th width="40" nowrap>导航</th><th width="40" nowrap>排序</th><th width="100">操作</th></tr>
					<!--{loop $categories $index $one}-->
					<tr ${$index%2?'':'class="alt"'}>
						<td>{$one['id']}</td>
						<td>{$one['name']}</td>
						<td>{$one['ename']}</td>
						<td>${strtoupper($one['letter'])}</td>
						<td><!--{if $zone=='group'}-->
						 <!--{if $one['fid'] }-->{$groups[$one['fid']]['name']}<!--{else}-->一级大类<!--{/if}-->
						<!--{else}-->{$one['czone']}<!--{/if}--></td>
						<td>{$one['display']}</td>
						<td>${intval($one['sort_order'])}</td>
						<td class="op"><a href="/ajax/manage.php?action=categoryedit&id={$one['id']}" class="ajaxlink">编辑</a>｜<a href="/ajax/manage.php?action=categoryremove&id={$one['id']}" class="ajaxlink" ask="确定删除本类别？">删除</a></td>
					</tr>
					<!--{/loop}-->
					<tr><td colspan="8">{$pagestring}</td></tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
