<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_misc('link')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
<div class="head">
                    <h2>友情链接</h2>
                    <ul class="filter">
                    	<li><a href="/ajax/misc.php?action=link" class="ajaxlink">添加链接</a></li>
                    </ul>
			  </div>
                <div class="sect">
					<table border="0" cellpadding="0" cellspacing="0" class="coupons-table" id="orders-list">
					<tr>
						<th width="40" nowrap>ID</th>
						<th width="120" nowrap>网站名称</th>
						<th width="200" nowrap>网站网址</th>
						<th width="80%" nowrap>LOGO</th>
						<th width="60" nowrap>排序</th>
						<th width="100" nowrap>首页展示</th>
						<th width="120" colspan="2" nowrap>操作</th>
					</tr>
				<!--{loop $links $index $one}-->
					<tr ${$index%2?'':'class="alt"'}>
						<td>{$one["id"]}</td>
						<td>{$one["title"]}</td>
						<td>{$one["url"]}</td>
						<td>{$one["logo"]}</td>
						<td>{$one["sort_order"]}</td>
						<td>{$one["display"]}</td>
						<td align="center"><a href="/ajax/misc.php?action=linkremove&id={$one['id']}" ask="确定删除本友情链接？" class="ajaxlink">删除</a>｜<a href="/ajax/misc.php?action=link&id={$one['id']}" class="ajaxlink">编辑</a></td>
					  </tr>
				<!--{/loop}-->
					<tr><td colspan="7">{$pagestring}</td></tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->
<!--{include manage_footer}-->
