<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:680px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">关闭</span>用户消费记录</h3>
	<div style="height:500px; overflow-y:scroll;overflow-x:hidden;">
	<table width="94%" class="coupons-table">
		<tr><th>时间</th><th>项目ID</th><th>支付ID</th><th>份数</th><th>余付</th><th>支付</th></tr>
	<!--{loop $corders $index $one}-->
		<tr ${$index%2?'':'class="alt"'}><td><!--{if $one['team_id']}-->${date('Y-m-d', $one['pay_time'])}<br/>${date('H:i:s',$one['pay_time'])}<!--{else}-->充值：${date('Y-m-d', $one['create_time'])}<br/>${date('H:i:s',$one['create_time'])}<!--{/if}--></td><td valign="middle"><a title="{$teams[$one['team_id']]['title']}" target="_blank" href="/team.php?id={$one['team_id']}" style="cursor:pointer;" alt="{$teams[$one['team_id']]['title']}">{$one['team_id']}</a></td><td>{$one['pay_id']}<br/>{$one['buy_id']}</td><td valign="middle">{$one['quantity']}</td><td valign="middle">{$one['credit']}</td><td valign="middle">{$one['money']}</td></tr>
	<!--{/loop}-->
	</table>
	</div>
</div>
