<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="help">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_vote('question')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>
						<!--{if $action == 'list-all'}-->
							全部问题列表
						<!--{else}-->
							正在调查问题 列表
						<!--{/if}-->
					</h2>
					<ul class="filter">
						<li>
							<a href="question.php?action=add">添加新问题</a>
						</li>
						<li>
							<!--{if $action == 'list-all'}-->
								<a href="question.php?action=list-is_show-1">正在调查问题列表</a>
							<!--{else}-->
								<a href="question.php?action=list-all">全部问题列表</a>
							<!--{/if}-->
						</li>
					</ul>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr>
						<th width="40">ID</th>
						<th width="400">标题</th>
						<th width="100">状态</th>
						<th width="100">排序</th>
						<th width="300">操作</th>
					</tr>
					<!--{if !$question_list}-->
					<tr>
						<td colspan=5 align="center">无调查问题</td>
					</tr>
					<!--{/if}-->
					<!--{loop $question_list $index $one}-->
					<tr ${$index%2?'':'class="alt"'} id="order-list-id-{$one['id']}">
						<td>{$one['id']}</td>
						<td>{$one['title']}</td>
						<td>${$one['is_show'] ? '显示' : '隐藏'}</td>
						<td>{$one['order']}</td>
						<td class="op">
							${$one['is_show'] ? '<a href="question.php?action=change_show&id='.$one['id'].'&value=0">隐藏</a>' : '<a href="question.php?action=change_show&id='.$one['id'].'&value=1">显示</a>'}
							<a href="options.php?question_id={$one['id']}">选项</a>
							<a href="question.php?action=edit&id={$one['id']}">编辑</a>
							<a href="javascript: if(confirm('确认删除？')) window.location.href = 'question.php?action=del&id={$one['id']}'">删除</a>
						</td>
					</tr>
					<!--{/loop}-->
					<tr><td colspan="8">{$pagestring}</tr>
                    </table>
				</div>
			</div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
