<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="money">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_misc('money')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>现金支付 (总金额：<span class="currency">{$currency}</span>{$summary})</h2>
                    <ul class="filter">
						<li class="label">分类: </li>
						${mcurrent_misc_money($s)}
					</ul>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
						<tr><th width="360">项目名称</th><th width="160">Email/用户名</th><th width="80">动作</th><th width="80">金额</th><th width="160">操作员</th><th width="140">订单时间</th></tr>
					<!--{loop $orders $index $one}-->
						<tr ${$index%2?'':'class="alt"'}>
							<td><a class="deal-title" href="/team.php?id={$one['team_id']}" target="_blank">{$teams[$one['team_id']]['title']}</a></td>
							<td nowrap>{$users[$one['user_id']]['email']}<br/>{$users[$one['user_id']]['username']}</td>
							<td nowrap>现金支付</td>
							<td nowrap><span class="money">{$currency}</span>${moneyit($one['money'])}</td>
							<td nowrap>{$users[$one['admin_id']]['email']}<br/>{$users[$one['admin_id']]['username']}</td>
							<td nowrap>${date('Y-m-d H:i', $one['create_time'])}</td>
						</tr>
					<!--{/loop}-->
						<tr><td colspan="6">{$pagestring}</td></tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>

</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
