<!--{include manage_header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="money">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_misc('money')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>购买充值 (总金额：<span class="currency">{$currency}</span>${abs($summary)})</h2>
                    <ul class="filter">
						<li class="label">分类: </li>
						${mcurrent_misc_money($s)}
					</ul>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
						<tr><th width="200">Email/用户名</th><th width="100">动作</th><th width="160">金额</th><th width="200">支付方式</th><th width="200">{$action}时间</th></tr>
					<!--{loop $flows $index $one}-->
						<tr ${$index%2?'':'class="alt"'}>
							<td nowrap>{$users[$one['user_id']]['email']}<br/>{$users[$one['user_id']]['username']}</td>
							<td nowrap>购买充值</td>
							<td nowrap><span class="money">{$currency}</span>${moneyit(abs($one['money']))}</td>
							<td nowrap>{$option_service[$pays[$one['detail_id']]['service']]}</td>
							<td nowrap>${date('Y-m-d H:i', $one['create_time'])}</td>
						</tr>
					<!--{/loop}-->
						<tr><td colspan="5">{$pagestring}</td></tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>

</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
