<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:380px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">关闭</span>${$category?'编辑':'新建'}{$zone[1]}</h3>
	<div style="overflow-x:hidden;padding:10px;">
	<p>中文名称、英文名称：均要求分类唯一性</p>
<form method="post" action="/manage/category/edit.php" class="validator">
	<input type="hidden" name="id" value="{$category['id']}" />
	<input type="hidden" name="zone" value="{$zone[0]}" />
	<table width="96%" class="coupons-table">
		<tr><td width="80" nowrap><b>中文名称：</b></td><td><input type="text" name="name" value="{$category['name']}" require="true" datatype="require" class="f-input" /></td></tr>
		<tr><td nowrap><b>英文名称：</b></td><td><input type="text" name="ename" value="{$category['ename']}" require="true" datatype="english" class="f-input" style="text-transform:lowercase;" /></td></tr>
		<tr><td nowrap><b>首字母：</b></td><td><input type="text" name="letter" value="{$category['letter']}" maxLength="1" require="true" datatype="english" class="f-input" style="text-transform:uppercase;" /></td></tr>
		<tr><td nowrap><b>自定义分组：</b></td><td><input type="text" name="czone" value="{$category['czone']}" class="f-input" /></td></tr>
		<tr><td nowrap><b>导航显示(Y/N)：</b></td><td><input type="text" name="display" value="{$category['display']}" class="f-input" style="text-transform:uppercase;"/></td></tr>
		<tr><td nowrap><b>排序(降序)：</b></td><td><input type="text" name="sort_order" value="${intval($category['sort_order'])}" class="f-input" /></td></tr>
		<tr><td nowrap><b>快递价格：</b></td><td><input type="text" name="relate_data" value="{$category['relate_data']}" class="f-input" /></td></tr>
		<tr><td colspan="2" height="10">&nbsp;</td></tr>
		<tr><td></td><td><input type="submit" value="确定" class="formbutton" /></td></tr>
	</table>
</form>
	</div>
</div>
