<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="content">
    <div id="order-pay-return" class="box">
        <div class="box-top"></div>
        <div class="box-content">
                        <div class="head success">
                <h2>恭喜，支付成功！</h2>
            </div>
            <div class="sect">
            <p class="nologin-tip">支付成功，请<a href="javascript:;" onclick="window.close();return false;">关闭此窗口</a></p>            </div>
                    </div>
        <div class="box-bottom"></div>
    </div>
</div>
<div id="sidebar">
    <div class="sbox">
        <div class="sbox-top"></div>
        <div class="sbox-content">
            <div class="side-tip">
                <h3 class="first">邀请有奖</h3>
				<p>每邀请一位好友首次购买，您将获&nbsp;${abs($INI['system']['invitecredit'])}&nbsp;元返利<br />
                <a href="/account/referrals.php" target="_blank">点击获取您的专用邀请链接</a>
                </p>
            </div>
        </div>
        <div class="sbox-bottom"></div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
