<!--{include header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="maillist">
	<div id="content">
        <div class="box">
            <div class="box-top"></div>
            <div class="box-content welcome">
				<div class="head">
					 <h2>邮件订阅</h2>
				</div>
                <div class="sect">
				  <div class="succ">您的邮箱 <strong>{$_POST['email']}</strong> 将会收到<strong>{$city['name']}</strong>每天最新的团购信息。</div>
				 </div>
			</div>
		</div>
		<div class="box-bottom"></div>
	</div>
	<div id="sidebar">
		<div class="side-pic">
		   <p><img src="/static/img/subscribe-pic1.jpg" /></p> 
		   <p><img src="/static/img/subscribe-pic2.jpg" /></p> 
		   <p><img src="/static/img/subscribe-pic3.jpg" /></p> 
		</div>
	</div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
