<!--{include wap_header}-->
<h2>我的订单</h2>
<p><a href="myorder.php">已付款</a>&nbsp;|&nbsp;未付款</p>

<!--{loop $orders $index $one}-->
<table id="order-list" style="margin:5px 0;" cellspacing="1" cellpadding="2" border="0" bgcolor="#999999" width="100%">
	<tr><td bgcolor="#CCCCCC" width="60" nowrap>日期：</td><td bgcolor="#FFFFFF">${date('Y-m-d H:i', $one['create_time'])}</td></tr>
	<tr><td bgcolor="#CCCCCC">项目：</td><td bgcolor="#FFFFFF"><a class="deal-title" href="team.php?id={$one['team_id']}" target="_blank">{$teams[$one['team_id']]['title']}</a></td></tr>
	<tr><td bgcolor="#CCCCCC">金额：</td><td bgcolor="#FFFFFF">{$currency}${moneyit($one['origin'])}</td></tr>
	<!--{if $teams[$one['team_id']]['close_time']>0}-->
	<tr><td bgcolor="#CCCCCC">详情：</td><td bgcolor="#FFFFFF">已过期</td></tr>
	<!--{else}-->
	<tr><td bgcolor="#CCCCCC">详情：</td><td bgcolor="#FFFFFF"><a href="pay.php?id={$one['id']}">付款</a></td>
	<!--{/if}-->
</table>
<!--{/loop}-->

<table><td>{$pagestring}</td></tr></table>

<!--{include wap_footer}-->
