<section id="prodetail">
<p id="<% if(solution.type=="material"){%>bimg<%}else{%>fullimg<%}%>">
    <img src="css/pics/<%= img %>.jpg" alt="">
</p>
<h1><%= solution.h1 %></h1>
<hr>
<h3><% if(solution.type=="material"){%>Introduction<%}else{%>Customer's Background<%}%></h3>
<div class="detail"><%= solution.introduction %></div>
<h3 class="equipment"><% if(solution.type=="material"){%>Processing Equipment<%}else{%>Equipments Installed<%}%> <span><img src="css/images/leftgray.png" alt="" id="prev"> <img src="css/images/rightgray.png" id="next" alt=""></span></h3>
<div class="detail related" id="">
	<div class="relain">
	<ul>
    <% for( i in solution.equipment){ %>
    <li>
        <img src="css/images/<%= solution.equipment[i][0]%>" alt="">
      <a href="<%= solution.equipment[i][1]%>"><%= i %></a>
    </li>
    <% } %>
    </ul>
    </div>

 </div>
<h3 class="flow"><% if(solution.type=="material"){%>Working Flow<%}else{%>Case Solution<%}%></h3>
<div class="detail" id="flow_detail">
    
    <%=solution.flow%>
    
</div>
<button class="inquiry_button" onclick="window.location.href='#inquiry'">Free Enquiry</button>
<hr>
</section>
<p class="about_foot"><a href="#solutions">solutions</a> <a href="#products">Products</a> <a href="#about">About Us</a> <a href="#contact">Contact Us</a></p>
<div id="copy">    <p><a href="" class="blue">Computer version </a>| <a href="" class="blue">Stantard Edition</a></p>    <p class="gray">2001-2013 SBMCHINA.com Copyrights</p></div>
<script type="text/javascript">
	 var num = Math.floor($("body").width()/150)
    var lgth = $(".related li").length
    var now = 1
$(".related").width(num*150)
$("#next").click(function(){
    if(now+num>lgth){
        $(".related ul").stop().animate({"marginLeft":"0"})
        now = 1
    }else
    {
        $(".related ul").stop().animate({"marginLeft":"-="+num*150+"px"})
        now = now + num
    }
})
setInterval(function(){$("#next").stop().trigger("click")},5000)

</script>