<p id="protwo"><a href="#products">Products</a> <span id="active">Line</span></p>
<div class="wrapper">
  
<div class="pl" id="listleft">
    <ul>
        <% for(i in left){%>
        <li>
          <!-- <img src="css/images/<%= left[i].img %>" alt=""> -->
          <p><%= left[i].name %></p> 
          <!-- <span class="gray"><%= left[i].desc %></span> -->
          <img src="css/images/wap_34.png" id="right_tri" alt="">
          </li>
        <% }%>
    </ul>
</div>
<script type="text/javascript">
// window.ontouchmove=function(e){
//     e.preventDefault()
// }    

    $("#listleft li").click(function(){
        var index = $(this).index()+1
        var ulist = "#ul_"+index
        $(this).css("color","#fd8a21").siblings().css("color","#333")
        // $("#listleft").animate({"left":"-"+$("#listleft").width()*0.7+"px"})
        $("#listleft").css({"border":"none"}).find("li").css({"border":"none","background":"#f4f4f4"})
        $("#listleft").animate({"width":$("body").width()*0.25+"px"})
        $("#listleft").find("img").hide()
        // $("#listleft").find("span").animate({"paddingTop":"1em"})
        $("#listleft").find(".gray").hide()
        $(this).append("<img src='css/images/fdsf.png' style='float:right;z-index:2000;position:absolute;right:0;'>")
        $("#listright").animate({"left":$("body").width()*0.25+"px"})
        $(ulist).css({"display":"block"}).siblings().css({"display":"none"})
    })
    // var startx;
    // document.getElementById("listleft").ontouchstart=function(e){
        
    //  startx = e.touches[0].clientX
    //  starty = e.touches[0].clientY
    // }
    // document.getElementById("listleft").ontouchmove=function(e){
        
    //   var x=e.touches[0].clientX
    //   var y=e.touches[0].clientY
    //   $("#listleft").animate({"left":"+="+(x-startx)})
    //   $("#listleft").animate({"left":"+="+(x-startx)})
    //   if(x- startx>50){//move right
    //     $("#listleft").animate({"left":"0px"})
    //     $("#listleft").animate({"left":"100%"})
    //     // alert("right")
    //   }
    //   if(startx - x>50){
    //     $("#listleft").animate({"left":"-"+$("#listleft").width()*0.7+"px"})
    //     $("#listright").animate({"left":$("#listleft").width()*0.3+"px"})
    //     // alert("left")
    //   }
    // }
</script>


<div class="pl" id="listright">
        <% for (i in right){ %>
    <ul id="ul_<%= i %>" class="ulist">
        <% for (s in right[i]){ %>
        <li>
          <img src="css/images/<%= right[i][s].img %>" alt="">
          <p><a href="#solutions/<%= right[i][s].href %>"><%= right[i][s].name%></a></p>
          
        </li>
       <% } %>
    </ul>
       <% } %>
</div>
</div>
<div class="clear"></div>
<p class="contact_foot"> <a href="">About Us</a> <a href="">Contact Us</a></p>
<div id="copy">    <p><a href="" class="blue">Computer version </a>| <a href="" class="blue">Stantard Edition</a></p>    <p class="gray">200-2013 SBMCHINA.com Copyrights</p></div>