<p id="protwo"><a href="#products">Products</a> <span id="active">Line</span></p>
<div class="wrapper">
  
<div class="pl" id="listleft">
    <ul>
        <% for(i in left){%>
        <li>
          <!-- <img src="css/images/<%= left[i].img %>" alt=""> -->
          <p><b><%= left[i].name %></b></p> 
          <!-- <span class="gray"><%= left[i].desc %></span> -->
          <img src="css/images/wap_34.png" id="right_tri" alt="">
          </li>
        <% }%>
        <li>
          <p><b>Project</b></p> 
          <img src="css/images/wap_34.png" id="right_tri" alt="">
          </li>
    </ul>
</div>
<script type="text/javascript"> 
$(document).ready(function(){
  $(".wrapper").height($("#listleft").height())
}) 

    $("#listleft li").click(function(){
        var index = $(this).index()+1
        var ulist = "#ul_"+index
        $(this).css("color","#fd8a21").siblings().css("color","#333")
        // $("#listleft").animate({"left":"-"+$("#listleft").width()*0.7+"px"})
        $("#listleft").css({"border":"none"}).find("li").css({"border":"none","background":"#f4f4f4"})
        $("#listleft").animate({"width":$("body").width()*0.3+"px"})
        $("#listleft").find("img").hide()
        // $("#listleft").find("span").animate({"paddingTop":"1em"})
        $("#listleft").find(".gray").hide()
        $(this).css({"background":"#fff","border-right":"1px #ebebeb solid","border-bottom":"1px #ebebeb solid","border-left":"4px #fd8a21 solid"})
        $("#listright").animate({"left":$("body").width()*0.3+"px"})
        $(ulist).css({"display":"block"}).siblings().css({"display":"none"})
        
        $(".wrapper").height(function(){
          var left = $("#listleft").height()
          var right = $("#listright").height()
          return Math.max(left,right)
        })
    })

</script>


<div class="pl" id="listright">
        <% for (i in right){ %>
    <ul id="ul_<%= i %>" class="ulist">
        <% for (s in right[i]){ %>
        <li>
          <img src="css/pics/<%= right[i][s].img %>" alt="">
          <p><a href="#solutions/<%= right[i][s].href %>"><%= right[i][s].name%></a></p>
        </li>
       <% } %>
    </ul>
       <% } %>
    <ul id="ul_5">
        <dt class="project">
            <div class="projecth4"><p >Africa</p></div>
            <div><p><span>Nigeria</span><a href="#solutions/nigeria">Aggregate for Concrete</a></p></div>
            <div><p><span>Mali</span><a href="#solutions/mali">Crushing Plant</a></p></div>
            <div><p><span>Algeria</span><a href="#solutions/algeria">Limestone Crushing Line</a></p></div>
        </dt>
        <dt class="project">
            <div class="projecth4"><p >America</p></div>
            <div><p><span>Chile</span><a href="#solutions/chile">Copper Ore Crushing Plant</a></p></div>
        </dt>
        <dt class="project">
            <div class="projecth4"><p >Europe</p></div>
            <div><p><span>Belgium</span><a href="#solutions/belgium">Limestone Grinding Line</a></p></div>
        </dt>
        <dt class="project">
            <div class="projecth4"><p >North Africa</p></div>
            <div><p><span>Panama</span><a href="#solutions/panama">Pebble and Basalt Production Line</a></p></div>
        </dt>
        <dt class="project">
            <div class="projecth4"><p >Asia</p></div>
            <div><p><span>India</span><a href="#solutions/india">Ultrafine Powder Milling Plant</a></p></div>
            <div><p><span>Indonesia</span><a href="#solutions/indonesia">Andesite Crushing Plant</a></p></div>
            <div><p><span>Kazakhstan</span><a href="#solutions/kazakhstan">Tungsten Crusher</a></p></div>
            <div><p><span>UAE</span><a href="#solutions/uae">Sand Making Plant</a></p></div>
            <div><p><span>Iran</span><a href="#solutions/iran">Limestone and Granite Plant</a></p></div>
            <div><p><span>Siri Lanka</span><a href="#solutions/sirilanka">Granite Crushing Plant</a></p></div>
        </dt>
    </ul>
</div>
</div>
<div class="clear"></div>
<p class="contact_foot"> <a href="#about">About Us</a> <a href="#contact">Contact Us</a></p>
<div id="copy">
    <p><a href="" class="blue" id="pc">Computer version </a>| <a href="" class="blue" id="phone">Stantard Edition</a></p>
    <p class="gray">200-2013 SBMCHINA.com Copyrights</p>
</div>
